{{for bikes}}
<tr id={{:id}} class="booking">
    <td>{{:producer.name}}</td>
    <td>{{:color}}</td>
    <td>{{:sex}}</td>
    <td>{{:typeBike}}</td>
    <td>{{:ageType}}</td>
    <td>{{:cost.cost}}</td>
    <td>
        <button id="book" type="button" class="btn btn-outline-success">book a bike</button>
    </td>
</tr>
{{/for}}