<div class="panel-heading">
    <h3 class="panel-title">Search Filter Bike</h3>
</div>
<div class="form-group">
    <div id="left-bar" class="col-md-8">
        <label class="col-md-8 label-filter-panel" for="Producer"><h5>Producer</h5></label>
        <select id="producer" class="form-control filter-bar">
        </select>
        <label class="col-md-8 label-filter-panel" for="TypeBike"><h5>TypeBike</h5></label>
        <select id="typeBike" class="form-control filter-bar">
        </select>
        <label class="col-md-8 label-filter-panel" for="Color"><h5>Color</h5></label>
        <select id="color" class="form-control filter-bar">
        </select>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="checkMale" value="MALE">
                Male
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="checkFemale" value="FEMALE">
                Female
            </label>
        </div>
        <label class="col-md-8 label-filter-panel" for="AgeType"><h5>AgeType</h5></label>
        <select id="ageType" class="form-control filter-bar">
        </select>
        <label class="col-md-10 label-filter-panel"><h5>Cost of rent bike</h5></label>
        <div class="row">
            <div class="col-5">
                <input id="minCost" type="text" class="form-control" placeholder="from">
            </div>
            <div class="col-5">
                <input id="maxCost" type="text" class="form-control" placeholder="till">
            </div>
        </div>
        <div class="row justify-content-center">
                        <span id="error-filter" class="text-danger align-middle">
                        <!-- Put password error message here -->
                        </span>
        </div>
        <button id="findBikes" type="button" class="btn btn-secondary findBtn">Find Bikes</button>
    </div>
</div>
