<ul class="navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="registration.html">Sign up</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="login.html">Sign in</a>
    </li>
</ul>
