<div class="col-xs-6 col-sm-12">
    <div class="panel-heading">
        <h4 class="panel-title margin-bar">Additional equipment</h4>
    </div>
    <label class="col-md-12 control-label" for="helmet"><h5>Select helmet</h5></label>
    <select id="helmet" name="selectbasic" class="form-control filter-bar">
    </select>
    <label class="col-md-12 control-label" for="babySeat"><h5>Select baby seat</h5></label>
    <select id="babySeat" name="selectbasic" class="form-control filter-bar">
    </select>
    <label class="col-md-12 control-label" for="basket"><h5>Select basket</h5></label>
    <select id="basket" name="selectbasic" class="form-control filter-bar">
    </select>
</div>