.b-pr-line-m {
    padding: 0.65em 1em 0.75em;
    overflow: hidden;
}

.b-pr-line-m .pr-line_side {
    float: left;
    width: 12.5846em;
    margin-right: 1em;
}

.b-pr-line-m .pr-line_pic {
    position: relative;
    display: block;
    height: 11em;
    width: 12.5846em;
    margin-top: 0.55em;
}

.b-pr-line-m .pr-line_link, .b-pr-line-s .pr-line_link {
    display: inline-block;
}

.b-pr-line-m .pr-line_descr {
    overflow: visible;
    white-space: normal;
    line-height: 1.3;
}

.b-pr-line-m .pr-line_toolbar {
    overflow: hidden;
    margin: 10px 0px 0px 0px;
}