.bg-inverse {
    background-color: #e6e6e6 !important;
}

.container.position {
    height: 150px;
}

.form-control.filter-bar {
    margin: 1px 1px 10px 1px;
    width: 100%;
}

.col-md-8.label-filter-panel {
    margin-bottom: 0rem;
}

.col-3.bar {
    margin: 90px 1px 1px 1px;
}

.btn.btn-secondary.findBtn {
    margin: 10px 0px 0px;
}

.col-6.bar-margin {
    margin: 90px 100px 0px 0px;
}

.col-5.center-margin {
    margin: 90px 1px 1px 1px;
}

.container.marginCntr {
    margin: 90px 390px 1px 390px;
}

.col-2.bar {
    margin: 90px 1px 1px 1px;
}

.panel-title.margin-bar {
    margin-bottom: 20px;
}

